<!DOCTYPE html>
<html ng-app="visualizationApp">
  <head>
    <title>IBM Cloud Data Services | Metrics Collector Visualization</title>

    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/d3.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/daterangepicker.js"></script>

    <script src="js/app.js"></script>
    <script src="js/vis-service.js"></script>

    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/simpledatavis.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-barchart.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-bubblechart.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-groupedbarchart.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-piechart.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-table.js"></script>
    <script type="text/javascript" src="https://ibm-cds-labs.github.io/simple-data-vis/vis/simpledatavis-timeline.js"></script>

    <script type="text/javascript" 
      src="//ibm-cds-labs.github.io/dW/js/tracker.js" 
      siteid="cds.mc.vis" 
      trackerurl="http://metrics-collector-ms.mybluemix.net/tracker"></script>

    <link rel="stylesheet" href="lib/daterangepicker-bs3.css" type="text/css"/>
    <link rel="stylesheet" href="css/master.css" type="text/css">
    <link rel="stylesheet" href="css/mcv.css" type="text/css">
  </head>
  <body class="capped-layout theme_light">
    <header class="capped-layout_cap app-banner">
      <a class="app-banner_title" rel="home" href="https://developer.ibm.com/clouddataservices">IBM Cloud Data Services // Dev</a>
    </header>

    <div class="capped-layout_body bookend-layout">
      <nav class="bookend-layout_bookend theme_dark" ng-controller="navCtrl">
        <ul class="tree-nav">
          <li class="tree-nav_item">
            <a class="tree-nav_link" href="#/">Metrics Collector Visualization</a>
            <ul class="tree-nav">
              <li class="tree-nav_item">
                <a class="tree-nav_link" href="#/summary"
                  ng-class="{'current': currentPath == '/summary'}">All Sites Summary</a></li>
              <li class="tree-nav_item">
                <a class="tree-nav_link" href="#/dashboard"
                  ng-class="{'current': currentPath == '/dashboard'}">Per Site Overview</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <div class="bookend-layout_body theme_light bg_white scrollable-y">
        <div ng-view></div>
      </div>
    </div>

<!-- START ng-view template: home.html -->
    <script type="text/ng-template" id="home.html">
      <section class="layout_section">
        <h1 class="type_heading">
          <mark class="type_mark">Welcome to the Metrics Collector Visualization!</mark>
        </h1>
        <p class="type_copy">
          The Metrics Collector Visualization is a page for visualizing the data persisted
          by the
          <a class="type_link" target="_blank"
            href="https://developer.ibm.com/clouddataservices/2016/03/03/simple-metrics-collector-microservices-edition/">
            Simple Metrics Collector</a>.
        </p>
        <p class="type_copy">
          The Simple Metrics Collector is a web-tracking app to record user actions using 
          the <a class="type_link" target="_blank" href="https://piwik.org">Piwik</a> library.
          The web analytics data is collected and stored in an 
          <a class="type_link" target="_blank"
            href="http://www.ibm.com/analytics/us/en/technology/cloud-data-services/cloudant/">
            IBM Cloudant</a> database.
        </p>
        <p class="type_copy">
          This app accesses the stored data and displays them in various charts and tables.
        </p>
      </section>
    </script>
<!-- END ng-view template: home.html -->

<!-- START ng-view template: summary.html -->
    <script type="text/ng-template" id="summary.html">
      <section class="layout_section theme_light">
        <h1 class="type_heading">All Sites Summary</h1>
        <p class="type_copy">
          Select summary information to view from the dropdown and enter the desired refresh rate:
        </p>
        <div class="grid_row six-column">
          <div class="grid_column five">
            <label for="selectedvis" class="type_copy" style="visibility:hidden">Choose summary information</label>
            <select class="input_select" id="selectedvis" name="selectedvis"
              ng-model="summary.visType" ng-change="updateSummary()">
              <option value="alltimetotal">All time total</option>
              <option value="hitsperday">Hits per day</option>
              <option value="recentactivities">Recent activities</option>
              <option value="sixmonthsdaily">Six months daily total</option>
            </select>
          </div>
          <div class="grid_column one">
            <label for="refreshrate" class="type_copy">Refresh (in min):</label>
            <input type="number" class="input_text" ng-model="summary.refreshRate" ng-change="updateSummary()"
              id="refreshrate" name="refreshrate" placeholder="Enter refresh rate (in minutes)">
          </div>
        </div>
      </section>
      <section class="layout_section">
        <div class="type_subhead">
          <mark class="type_mark">{{ visTitle }}</mark>
        </div>
        <section>
          <div metrics-viz="summary"></div>
        </section>
      </section>
    </script>
<!-- END ng-view template: summary.html -->

<!-- START ng-view template: dashboard.html -->
    <script type="text/ng-template" id="dashboard.html">
      <section class="layout_section theme_light">
        <h1 class="type_heading">Per Site Overview</h1>
        <p class="type_copy">
          To view the metrics for a site over a specific date range, select the site from the
          dropdown and enter the desired dates:
        </p>
        <div>
          <select class="input_select" id="selected-site" name="site"
            ng-model="dashboard.siteId" ng-change="updateDashboard()">
            <option ng-repeat="site in sites" value="{{site.siteId}}">
              {{site.siteId}}
            </option>
          </select>

          <input readonly type="text" class="input_text input_daterange"
            id="selected-daterange" name="daterange">
        </div>
      </section>
      <section class="layout_section">
        <div class="type_subhead">
          <mark class="type_mark">{{ dashboard.siteId }}</mark>
        </div>
        <section>
          <p class="type_copy">
            <a class="type_link"
              ng-class="{'disabled': dashboard.visType === 'dailyactivity'}"
              ng-click="updateDashboard('dailyactivity')">Daily Activity</a> | 
            <a class="type_link"
              ng-class="{'disabled': dashboard.visType === 'browserusage'}"
              ng-click="updateDashboard('browserusage')">Browser Usage</a> 
            <span ng-hide="disableSearches">|</span> 
            <a class="type_link"
              ng-class="{'disabled': dashboard.visType === 'toptensearches'}"
              ng-click="updateDashboard('toptensearches')"
              ng-hide="disableSearches">Top Ten Searches</a> 
            <span ng-hide="disableSearches">|</span> 
            <a class="type_link"
              ng-class="{'disabled': dashboard.visType === 'searchbycategories'}"
              ng-click="updateDashboard('searchbycategories')"
              ng-hide="disableSearches">Searches By Categories</a>
          </p>
          <div metrics-viz="dashboard"></div>
        </section>
      </section>
    </script>
<!-- END ng-view template: dashboard.html -->

<!-- START directive template: vis.html -->
    <script type="text/ng-template" id="vis.html">
      <figure class="guide-example">
        <div class="datavis">
          <div class="spinner"><span>&profline;</span></div>
          <div class="vis-container"></div>
          </div>
        </div>
      </figure>
    </script>
<!-- END directive template: vis.html -->

  </body>
</html>
